.DS_Store

# Ignore all folders named xcuserdata
xcuserdata/

# White-listing xcschemes folder. (.gitignore whitelisting is a huge hassle but this works)
# -> We don't need this anymore, because instead we just moved the build schemes to shared
# !Mouse Fix.xcodeproj/xcuserdata/
# !Mouse Fix.xcodeproj/xcuserdata/Noah.xcuserdatad/
# !Mouse Fix.xcodeproj/xcuserdata/Noah.xcuserdatad/xcschemes/*
# Mouse Fix.xcodeproj/xcuserdata/Noah.xcuserdatad/xcdebugger/*

sudopass.sh