
# Ignore macOS stuff
.DS_Store

# Xcode (Only ignore this on update-feed branch!)
Mouse\ Fix.xcodeproj/

# vscode
#   Don't leak API keys in launch.json
.vscode

# Python stuff
update_env
env
venv
__pycache__

# Sensitive
gumroad_sales_cache.json

# Password file
sudopass.sh

# Downloads/temp folder     (Note: [Mar 2025] Used by generate_releases.py)
generate_releases_downloads

# App bundle cache          (Note: [Mar 2025] The files are large and fast to download – no need to clutter up the git history)
app-bundle-cache