

<style>

    /* Following this tutorial: https://devilgate.org/blog/2012/07/02/tip-using-pandoc-to-create-truly-standalone-html-files/ */

    :root {
        font-size: 10px; /* 1 rem is this much */
        padding: 0 0 0 0;
        background-color: transparent; /* pandoc automatically applies styling where the bg is white. So we need to override that. */
    }

    body {
        background-color: transparent;
        margin: 0 1.2rem 2.0rem 1.2rem;
        padding: 0;
        font-family: -apple-system;
        font-size: 1.3rem;

        line-height: 1.15em;
    }

    h1, h2, h3, h4, h5, h6 {
        line-height: 1.15em;
    }

    h1:after, h2:after {
        content:' ';
        display: block;
        border: 0.5px solid rgba(0, 0, 0, 0.12);
    }
    h1:after {
        margin: 0.6rem 0 0 0;
    }
    h2:after {
        margin: 0.4rem 0 0 0;
    }

    h1 {
        font-size: 2.2rem;
        margin: 2.2rem 0 1.3rem -0.0rem;
    }

    h2 {
        font-size: 1.7rem;
        margin: 2.0rem 0 1.7rem -0.0rem;
    }

    h3 {
        font-size: 1.3rem;
        margin: 1.5rem 0 0.0rem -0.0rem;
    }
    h4 {
        font-size: 1.0rem;
        margin: 1.5rem 0 0.0rem -0.0rem;
    }
    h5 {
        font-size: 0.8rem;
        margin: 1.5rem 0 0.0rem -0.0rem;
        font-style: italic;
    }

    p {
        margin: 1.1rem 0 1.1rem 0;
        font-size: 1.1rem;
    }

    a, a:visited {
        color: rgba(43, 102, 211, 1.0) /* Obtained by colorpicking `Hyperlink`s in MMF */
    }

    ul {
        padding: 0 0 0 1.5rem;
        margin: 1.0rem 0 1.0rem 0.5rem;
    }
    ul ul {
        margin: 0.6rem 0 -0.6rem 0;
        padding: 0 0 0 2.1rem;
    }

    li {
        padding: 0 0 0.6rem 0;

        font-size: 1.1rem;
    }

    code {
        padding: 0.2rem 0.5rem;
        border-radius: 0.5rem;
        background-color: rgba(0, 0, 75, 0.09);
    }
    div.sourceCode {
        
        padding: 1.6rem 1.5rem;
        border-radius: 1.1rem; /*0.3rem;*/
        background-color: rgba(0, 0, 75, 0.055);
    }

    .annotation {
        font-size: 1.1rem;
    }
    img {
        max-width: 100%;
        height: auto;
        
        border-radius: 1.0rem;
        box-shadow: 0 0.2rem 0.4rem 0.0rem rgba(0, 0, 0, 0.15), 0 0.2rem 1.7rem 0.0rem rgba(0, 0, 0, 0.15);

        display: block;
        margin: 1.4rem auto 1.8rem auto;
    }

    hr {
        border: none;
        height: 3px;
        background-color: rgba(0, 0, 0, 0.12);

        margin: 1.7rem 0 1.7rem 0;
    }

    @media (prefers-color-scheme: light) {

        /* I don't think we need this. Light is just the default, right? */

        h1 {
            color: #272727;
        }

        a {
            color: #0948be;
        }
    }

    @media (prefers-color-scheme: dark) {

        body {
            /* background-color: #1e1e1e;  */
            /* ^ Sparkle background is still bright when we have `background-color: transparent` even with darkmode active. 
                This is the color of the text field background in Apple Mail on macOS 11 BigSur 
                
                Edit: This was because pandoc made the background white, which we've overriden now. So now this is not necessary anymore. Might want to reenable for testing in Safari.
                */

            color: rgba(255, 255, 255, 0.9); /* For headers */
        }

        li, p {
            color:rgba(255, 255, 255, 0.8);
        }
        a, a:visited { /* Need to include a:visited otherwise it will be set by pandoc */
            color: #3586FF;
        }
        hr {
            background-color: rgba(255, 255, 255, 0.15);
        }
        code {
            background-color: rgba(255, 255, 255, 0.16);
        }
        div.sourceCode {
            background-color: rgba(255, 255, 255, 0.08);
        }

        h1:after, h2:after {
            content:' ';
            display: block;
            border: 0.5px solid rgba(255, 255, 255, 0.15);
        }
    }

</style>