<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Scroll</key>
	<dict>
		<key>disableAll (unused)</key>
		<false/>
		<key>inertia</key>
		<true/>
		<key>modifiers</key>
		<dict>
			<key>horizontal</key>
			<integer>131072</integer>
			<key>precise</key>
			<integer>524288</integer>
			<key>swift</key>
			<integer>262144</integer>
			<key>zoom</key>
			<integer>1048576</integer>
		</dict>
		<key>naturalDirection</key>
		<true/>
		<key>precise</key>
		<false/>
		<key>smooth</key>
		<true/>
		<key>speed</key>
		<string>medium</string>
	</dict>
	<key>AppOverrides</key>
	<dict>
		<key>com.adobe.Photoshop</key>
		<dict>
			<key>Root</key>
			<dict>
				<key>Scroll</key>
				<dict>
					<key>modifierKeys</key>
					<dict>
						<key>horizontalScrollModifierKeyEnabled</key>
						<false/>
						<key>magnificationScrollModifierKeyEnabled</key>
						<false/>
					</dict>
					<key>smooth</key>
					<false/>
				</dict>
			</dict>
			<key>meta</key>
			<dict>
				<key>scrollOverridePanelTableViewOrderKey</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>com.adobe.PhotoshopElements</key>
		<dict>
			<key>Root</key>
			<dict>
				<key>Scroll</key>
				<dict>
					<key>modifierKeys</key>
					<dict>
						<key>horizontalScrollModifierKeyEnabled</key>
						<false/>
						<key>magnificationScrollModifierKeyEnabled</key>
						<false/>
					</dict>
					<key>smooth</key>
					<false/>
				</dict>
			</dict>
			<key>meta</key>
			<dict>
				<key>scrollOverridePanelTableViewOrderKey</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>com.adobe.Reader</key>
		<dict>
			<key>Root</key>
			<dict>
				<key>Scroll</key>
				<dict>
					<key>modifierKeys</key>
					<dict>
						<key>horizontalScrollModifierKeyEnabled</key>
						<false/>
						<key>magnificationScrollModifierKeyEnabled</key>
						<false/>
					</dict>
					<key>smooth</key>
					<false/>
				</dict>
			</dict>
			<key>meta</key>
			<dict>
				<key>scrollOverridePanelTableViewOrderKey</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>com.apple.Preview</key>
		<dict>
			<key>Root</key>
			<dict>
				<key>Scroll</key>
				<dict>
					<key>modifierKeys</key>
					<dict>
						<key>horizontalScrollModifierKeyEnabled</key>
						<true/>
						<key>magnificationScrollModifierKeyEnabled</key>
						<true/>
					</dict>
					<key>smooth</key>
					<false/>
				</dict>
			</dict>
			<key>meta</key>
			<dict>
				<key>scrollOverridePanelTableViewOrderKey</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>com.apple.QuickTimePlayerXuuu</key>
		<dict>
			<key>Root</key>
			<dict>
				<key>Scroll</key>
				<dict>
					<key>modifierKeys</key>
					<dict>
						<key>horizontalScrollModifierKeyEnabled</key>
						<false/>
						<key>magnificationScrollModifierKeyEnabled</key>
						<false/>
					</dict>
					<key>smooth</key>
					<false/>
				</dict>
			</dict>
			<key>meta</key>
			<dict>
				<key>scrollOverridePanelTableViewOrderKey</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>com.apple.QuickTimePlayeruuu</key>
		<dict>
			<key>Root</key>
			<dict>
				<key>Scroll</key>
				<dict>
					<key>modifierKeys</key>
					<dict>
						<key>horizontalScrollModifierKeyEnabled</key>
						<false/>
						<key>magnificationScrollModifierKeyEnabled</key>
						<false/>
					</dict>
					<key>smooth</key>
					<false/>
				</dict>
			</dict>
			<key>meta</key>
			<dict>
				<key>scrollOverridePanelTableViewOrderKey</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>com.apple.Safariuuu</key>
		<dict>
			<key>Root</key>
			<dict>
				<key>Scroll</key>
				<dict>
					<key>modifierKeys</key>
					<dict>
						<key>horizontalScrollModifierKey</key>
						<string>shift</string>
						<key>horizontalScrollModifierKeyEnabled</key>
						<false/>
						<key>magnificationScrollModifierKey</key>
						<string>command</string>
						<key>magnificationScrollModifierKeyEnabled</key>
						<false/>
					</dict>
					<key>smooth</key>
					<false/>
				</dict>
			</dict>
			<key>meta</key>
			<dict>
				<key>scrollOverridePanelTableViewOrderKey</key>
				<integer>0</integer>
			</dict>
		</dict>
	</dict>
	<key>Other</key>
	<dict>
		<key>showInStatusBar</key>
		<false/>
		<key>checkForPrereleases</key>
		<false/>
		<key>checkForUpdates</key>
		<true/>
		<key>configVersion</key>
		<integer>13</integer>
		<key>launchesOverall</key>
		<string>0</string>
		<key>lastLaunchedBundleVersion</key>
		<integer>0</integer>
		<key>launchesOfCurrentBundleVersion</key>
		<integer>0</integer>
	</dict>
	<key>Pointer</key>
	<dict>
		<key>acceleration</key>
		<real>0.6875</real>
		<key>sensitivity</key>
		<integer>1</integer>
		<key>useSystemAcceleration</key>
		<false/>
	</dict>
	<key>Remaps</key>
	<array>
		<dict>
			<key>effect</key>
			<dict>
				<key>type</key>
				<string>symbolicHotkey</string>
				<key>variant</key>
				<integer>70</integer>
			</dict>
			<key>modifiers</key>
			<dict/>
			<key>trigger</key>
			<dict>
				<key>button</key>
				<integer>3</integer>
				<key>duration</key>
				<string>click</string>
				<key>level</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>effect</key>
			<dict>
				<key>type</key>
				<string>symbolicHotkey</string>
				<key>variant</key>
				<integer>36</integer>
			</dict>
			<key>modifiers</key>
			<dict/>
			<key>trigger</key>
			<dict>
				<key>button</key>
				<integer>3</integer>
				<key>duration</key>
				<string>hold</string>
				<key>level</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>effect</key>
			<dict>
				<key>type</key>
				<string>symbolicHotkey</string>
				<key>variant</key>
				<integer>160</integer>
			</dict>
			<key>modifiers</key>
			<dict/>
			<key>trigger</key>
			<dict>
				<key>button</key>
				<integer>3</integer>
				<key>duration</key>
				<string>click</string>
				<key>level</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>effect</key>
			<dict>
				<key>modifiedDragType</key>
				<string>threeFingerSwipe</string>
			</dict>
			<key>modifiers</key>
			<dict>
				<key>buttonModifiers</key>
				<array>
					<dict>
						<key>button</key>
						<integer>4</integer>
						<key>level</key>
						<integer>1</integer>
					</dict>
				</array>
			</dict>
			<key>trigger</key>
			<string>dragTrigger</string>
		</dict>
		<dict>
			<key>effect</key>
			<dict>
				<key>modifiedScrollInputModification</key>
				<string>fast</string>
			</dict>
			<key>modifiers</key>
			<dict>
				<key>buttonModifiers</key>
				<array>
					<dict>
						<key>button</key>
						<integer>4</integer>
						<key>level</key>
						<integer>1</integer>
					</dict>
				</array>
			</dict>
			<key>trigger</key>
			<string>scrollTrigger</string>
		</dict>
		<dict>
			<key>effect</key>
			<dict>
				<key>modifiedDragType</key>
				<string>twoFingerSwipe</string>
			</dict>
			<key>modifiers</key>
			<dict>
				<key>buttonModifiers</key>
				<array>
					<dict>
						<key>button</key>
						<integer>5</integer>
						<key>level</key>
						<integer>1</integer>
					</dict>
				</array>
			</dict>
			<key>trigger</key>
			<string>dragTrigger</string>
		</dict>
		<dict>
			<key>effect</key>
			<dict>
				<key>modifiedScrollEffectModification</key>
				<string>zoom</string>
			</dict>
			<key>modifiers</key>
			<dict>
				<key>buttonModifiers</key>
				<array>
					<dict>
						<key>button</key>
						<integer>5</integer>
						<key>level</key>
						<integer>1</integer>
					</dict>
				</array>
			</dict>
			<key>trigger</key>
			<string>scrollTrigger</string>
		</dict>
	</array>
</dict>
</plist>
