<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppOverrides</key>
	<dict>
		<key>com.adobe.Photoshop</key>
		<dict>
			<key>Root</key>
			<dict>
				<key>Scroll</key>
				<dict>
					<key>modifierKeys</key>
					<dict>
						<key>horizontalScrollModifierKeyEnabled</key>
						<false/>
						<key>magnificationScrollModifierKeyEnabled</key>
						<false/>
					</dict>
					<key>smooth</key>
					<false/>
				</dict>
			</dict>
			<key>meta</key>
			<dict>
				<key>scrollOverridePanelTableViewOrderKey</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>com.adobe.PhotoshopElements</key>
		<dict>
			<key>Root</key>
			<dict>
				<key>Scroll</key>
				<dict>
					<key>modifierKeys</key>
					<dict>
						<key>horizontalScrollModifierKeyEnabled</key>
						<false/>
						<key>magnificationScrollModifierKeyEnabled</key>
						<false/>
					</dict>
					<key>smooth</key>
					<false/>
				</dict>
			</dict>
			<key>meta</key>
			<dict>
				<key>scrollOverridePanelTableViewOrderKey</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>com.adobe.Reader</key>
		<dict>
			<key>Root</key>
			<dict>
				<key>Scroll</key>
				<dict>
					<key>modifierKeys</key>
					<dict>
						<key>horizontalScrollModifierKeyEnabled</key>
						<false/>
						<key>magnificationScrollModifierKeyEnabled</key>
						<false/>
					</dict>
					<key>smooth</key>
					<false/>
				</dict>
			</dict>
			<key>meta</key>
			<dict>
				<key>scrollOverridePanelTableViewOrderKey</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>com.apple.Preview</key>
		<dict>
			<key>Root</key>
			<dict>
				<key>Scroll</key>
				<dict>
					<key>modifierKeys</key>
					<dict>
						<key>horizontalScrollModifierKeyEnabled</key>
						<true/>
						<key>magnificationScrollModifierKeyEnabled</key>
						<true/>
					</dict>
					<key>smooth</key>
					<false/>
				</dict>
			</dict>
			<key>meta</key>
			<dict>
				<key>scrollOverridePanelTableViewOrderKey</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>com.apple.QuickTimePlayerXuuu</key>
		<dict>
			<key>Root</key>
			<dict>
				<key>Scroll</key>
				<dict>
					<key>modifierKeys</key>
					<dict>
						<key>horizontalScrollModifierKeyEnabled</key>
						<false/>
						<key>magnificationScrollModifierKeyEnabled</key>
						<false/>
					</dict>
					<key>smooth</key>
					<false/>
				</dict>
			</dict>
			<key>meta</key>
			<dict>
				<key>scrollOverridePanelTableViewOrderKey</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>com.apple.QuickTimePlayeruuu</key>
		<dict>
			<key>Root</key>
			<dict>
				<key>Scroll</key>
				<dict>
					<key>modifierKeys</key>
					<dict>
						<key>horizontalScrollModifierKeyEnabled</key>
						<false/>
						<key>magnificationScrollModifierKeyEnabled</key>
						<false/>
					</dict>
					<key>smooth</key>
					<false/>
				</dict>
			</dict>
			<key>meta</key>
			<dict>
				<key>scrollOverridePanelTableViewOrderKey</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>com.apple.Safariuuu</key>
		<dict>
			<key>Root</key>
			<dict>
				<key>Scroll</key>
				<dict>
					<key>modifierKeys</key>
					<dict>
						<key>horizontalScrollModifierKey</key>
						<string>shift</string>
						<key>horizontalScrollModifierKeyEnabled</key>
						<false/>
						<key>magnificationScrollModifierKey</key>
						<string>command</string>
						<key>magnificationScrollModifierKeyEnabled</key>
						<false/>
					</dict>
					<key>smooth</key>
					<false/>
				</dict>
			</dict>
			<key>meta</key>
			<dict>
				<key>scrollOverridePanelTableViewOrderKey</key>
				<integer>0</integer>
			</dict>
		</dict>
	</dict>
	<key>Other</key>
	<dict>
		<key>checkForUpdates</key>
		<true/>
		<key>checkForPrereleases</key>
		<false/>
		<key>configVersion</key>
		<integer>10</integer>
		<key>skippedBundleVersion</key>
		<integer>0</integer>
		<key>launchesOverall</key>
		<string>0</string>
		<key>lastLaunchedBundleVersion</key>
		<integer>-1</integer>
		<key>launchesOfCurrentBundleVersion</key>
		<string>0</string>
	</dict>
	<key>Remaps</key>
	<array>
		<dict>
			<key>effect</key>
			<dict>
				<key>type</key>
				<string>symbolicHotkey</string>
				<key>variant</key>
				<integer>70</integer>
			</dict>
			<key>modifiers</key>
			<dict/>
			<key>trigger</key>
			<dict>
				<key>button</key>
				<integer>3</integer>
				<key>duration</key>
				<string>click</string>
				<key>level</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>effect</key>
			<dict>
				<key>type</key>
				<string>symbolicHotkey</string>
				<key>variant</key>
				<integer>36</integer>
			</dict>
			<key>modifiers</key>
			<dict/>
			<key>trigger</key>
			<dict>
				<key>button</key>
				<integer>3</integer>
				<key>duration</key>
				<string>hold</string>
				<key>level</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>effect</key>
			<dict>
				<key>type</key>
				<string>symbolicHotkey</string>
				<key>variant</key>
				<integer>160</integer>
			</dict>
			<key>modifiers</key>
			<dict/>
			<key>trigger</key>
			<dict>
				<key>button</key>
				<integer>3</integer>
				<key>duration</key>
				<string>click</string>
				<key>level</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>effect</key>
			<dict>
				<key>modifiedDragType</key>
				<string>threeFingerSwipe</string>
			</dict>
			<key>modifiers</key>
			<dict>
				<key>buttonModifiers</key>
				<array>
					<dict>
						<key>button</key>
						<integer>3</integer>
						<key>level</key>
						<integer>1</integer>
					</dict>
				</array>
			</dict>
			<key>trigger</key>
			<string>dragTrigger</string>
		</dict>
		<dict>
			<key>effect</key>
			<dict>
				<key>type</key>
				<string>navigationSwipe</string>
				<key>variant</key>
				<string>left</string>
			</dict>
			<key>modifiers</key>
			<dict/>
			<key>trigger</key>
			<dict>
				<key>button</key>
				<integer>4</integer>
				<key>duration</key>
				<string>click</string>
				<key>level</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>effect</key>
			<dict>
				<key>type</key>
				<string>navigationSwipe</string>
				<key>variant</key>
				<string>right</string>
			</dict>
			<key>modifiers</key>
			<dict/>
			<key>trigger</key>
			<dict>
				<key>button</key>
				<integer>5</integer>
				<key>duration</key>
				<string>click</string>
				<key>level</key>
				<integer>1</integer>
			</dict>
		</dict>
	</array>
	<key>Scroll</key>
	<dict>
		<key>direction</key>
		<integer>-1</integer>
		<key>disableAll (unused)</key>
		<false/>
		<key>modifierKeys</key>
		<dict>
			<key>horizontalScrollModifierKey</key>
			<string>shift</string>
			<key>horizontalScrollModifierKeyEnabled</key>
			<true/>
			<key>magnificationScrollModifierKey</key>
			<string>command</string>
			<key>magnificationScrollModifierKeyEnabled</key>
			<true/>
		</dict>
		<key>other</key>
		<dict>
			<key>consecutiveScrollSwipeMaxIntervall</key>
			<real>0.35</real>
			<key>consecutiveScrollTickMaxIntervall</key>
			<real>0.13</real>
			<key>fastScrollExponentialBase</key>
			<real>1.1</real>
			<key>fastScrollFactor</key>
			<real>1.1</real>
			<key>fastScrollThreshold_inSwipes</key>
			<integer>3</integer>
			<key>scrollSwipeThreshold_inTicks</key>
			<integer>2</integer>
		</dict>
		<key>roughParameters (unused)</key>
		<dict/>
		<key>smooth</key>
		<true/>
		<key>smoothParameters</key>
		<dict>
			<key>acceleration</key>
			<real>1.11</real>
			<key>friction</key>
			<real>2.3</real>
			<key>frictionDepth</key>
			<integer>1</integer>
			<key>msPerStep</key>
			<integer>90</integer>
			<key>onePixelScrollsLimit</key>
			<integer>2</integer>
			<key>pxPerStep</key>
			<integer>40</integer>
		</dict>
	</dict>
</dict>
</plist>
