//
// --------------------------------------------------------------------------
// Accomplice.xcconfig
// Created for Mac Mouse Fix (https://github.com/noah-nuebling/mac-mouse-fix)
// Created by Noah Nuebling in 2021
// Licensed under MIT
// --------------------------------------------------------------------------
//

#include "Pods/Target Support Files/Pods-Mac Mouse Fix Accomplice/Pods-Mac Mouse Fix Accomplice.debug.xcconfig"
#include "Pods/Target Support Files/Pods-Mac Mouse Fix Accomplice/Pods-Mac Mouse Fix Accomplice.release.xcconfig"
// ^ pod clt warnings tell me to include both? I don't understand why.

#include "Base.xcconfig"


