//
// --------------------------------------------------------------------------
// debug.xcconfig
// Created for Mac Mouse Fix (https://github.com/noah-nuebling/mac-mouse-fix)
// Created by Noah Nuebling in 2021
// Licensed under MIT
// --------------------------------------------------------------------------
//

// Configuration settings file format documentation can be found at: https://help.apple.com/xcode/#/dev745c5c974
//Src: https://github.com/lwouis/alt-tab-macos/blob/master/config/debug.xcconfig

#include "Base.xcconfig"

CODE_SIGN_IDENTITY = Local Self-Signed
SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG // for macro `#if DEBUG`
OTHER_SWIFT_FLAGS = -driver-time-compilation -Xfrontend -warn-long-function-bodies=250 -Xfrontend -warn-long-expression-type-checking=250 // find slow compilation areas
OTHER_CODE_SIGN_FLAGS = --timestamp=none

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) // This defines preprocessor macros
