//
// --------------------------------------------------------------------------
// Helper.xcconfig
// Created for Mac Mouse Fix (https://github.com/noah-nuebling/mac-mouse-fix)
// Created by Noah Nuebling in 2021
// Licensed under MIT
// --------------------------------------------------------------------------
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

PRODUCT_NAME = Mac Mouse Fix Helper
PRODUCT_BUNDLE_IDENTIFIER = com.nuebling.mac-mouse-fix.helper

INFOPLIST_FILE = Helper/SupportFiles/Info.plist

CODE_SIGN_ENTITLEMENTS = Helper/SupportFiles/App.entitlements
