//
// --------------------------------------------------------------------------
// release.xcconfig
// Created for Mac Mouse Fix (https://github.com/noah-nuebling/mac-mouse-fix)
// Created by Noah Nuebling in 2021
// Licensed under MIT
// --------------------------------------------------------------------------
//

#include "Pods/Target Support Files/Pods-Mac Mouse Fix Helper/Pods-Mac Mouse Fix Helper.release.xcconfig"

#include "Helper.xcconfig"
#include "Release.xcconfig"
