//
// --------------------------------------------------------------------------
// Helper.xcconfig
// Created for Mac Mouse Fix (https://github.com/noah-nuebling/mac-mouse-fix)
// Created by Noah Nuebling in 2021
// Licensed under MIT
// --------------------------------------------------------------------------
//

PRODUCT_NAME = Mac Mouse Fix Helper
PRODUCT_BUNDLE_IDENTIFIER = com.nuebling.mac-mouse-fix.helper

INFOPLIST_FILE = Helper/SupportFiles/Info.plist

CODE_SIGN_ENTITLEMENTS = Helper/SupportFiles/App.entitlements
