//
// --------------------------------------------------------------------------
// debug.xcconfig
// Created for Mac Mouse Fix (https://github.com/noah-nuebling/mac-mouse-fix)
// Created by Noah Nuebling in 2021
// Licensed under MIT
// --------------------------------------------------------------------------
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Release.xcconfig"

PRODUCT_NAME = Mac Mouse Fix
PRODUCT_BUNDLE_IDENTIFIER = com.nuebling.mac-mouse-fix

INFOPLIST_FILE = App/SupportFiles/Info.plist

CODE_SIGN_ENTITLEMENTS = App/SupportFiles/App.entitlements
