//
// --------------------------------------------------------------------------
// MainApp.xcconfig
// Created for Mac Mouse Fix (https://github.com/noah-nuebling/mac-mouse-fix)
// Created by Noah Nuebling in 2021
// Licensed under MIT
// --------------------------------------------------------------------------
//

PRODUCT_NAME = Mac Mouse Fix
PRODUCT_BUNDLE_IDENTIFIER = com.nuebling.mac-mouse-fix

INFOPLIST_FILE = App/SupportFiles/Info.plist

CODE_SIGN_ENTITLEMENTS = App/SupportFiles/App.entitlements
