//
// --------------------------------------------------------------------------
// main-app-debug.xcconfig
// Created for Mac Mouse Fix (https://github.com/noah-nuebling/mac-mouse-fix)
// Created by Noah Nuebling in 2021
// Licensed under MIT
// --------------------------------------------------------------------------
//

#include "Pods/Target Support Files/Pods-Mac Mouse Fix/Pods-Mac Mouse Fix.debug.xcconfig"

#include "MainApp.xcconfig"
#include "Debug.xcconfig"
