//
// --------------------------------------------------------------------------
// release.xcconfig
// Created for Mac Mouse Fix (https://github.com/noah-nuebling/mac-mouse-fix)
// Created by Noah Nuebling in 2021
// Licensed under MIT
// --------------------------------------------------------------------------
//

// Configuration settings file format documentation can be found at: https://help.apple.com/xcode/#/dev745c5c974
// Src: https://github.com/lwouis/alt-tab-macos/blob/master/config/release.xcconfig

#include "Base.xcconfig"

//CODE_SIGN_IDENTITY = Developer ID Application: Louis Pontoise (QXD7GW8FHY)
//CODE_SIGN_INJECT_BASE_ENTITLEMENTS = NO // for notarization
//OTHER_CODE_SIGN_FLAGS = --timestamp --deep --options runtime // for notarization

GCC_PREPROCESSOR_DEFINITIONS = $(inherited)
