<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ATSApplicationFontsPath</key>
	<string>.</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string>MouseFix.tiff</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.nuebling.mac-mouse-fix</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>macmousefix</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>23716</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2019-2023 Noah Nuebling (MMF License)</string>
	<key>NSMainStoryboardFile</key>
	<string>Main</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>OSLogPreferences</key>
	<dict>
		<key>com.nuebling.mac-mouse-fix</key>
		<dict>
			<key>DEFAULT-OPTIONS</key>
			<dict>
				<key>Enable-Oversize-Messages</key>
				<true/>
				<key>Enable-Private-Data</key>
				<false/>
				<key>Level</key>
				<dict>
					<key>Enable</key>
					<string>Debug</string>
					<key>Persist</key>
					<string>Debug</string>
				</dict>
				<key>Signpost-Backtraces-Enabled</key>
				<false/>
				<key>Signpost-Enabled</key>
				<false/>
				<key>Signpost-Persisted</key>
				<false/>
				<key>Signpost-Scope</key>
				<string>Process</string>
			</dict>
		</dict>
	</dict>
	<key>SUAllowsAutomaticUpdates</key>
	<false/>
	<key>SUEnableJavaScript</key>
	<string>YES</string>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/noah-nuebling/mac-mouse-fix/update-feed/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>ZC69ciDfGYN4t3kwRiPc2SC7J4hchv9w+FfVv59r4+U=</string>
</dict>
</plist>
