<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Other</key>
	<dict>
		<key>configVersion</key>
		<integer>5</integer>
		<key>checkForUpdates</key>
		<true/>
		<key>skippedBundleVersion</key>
		<integer>0</integer>
	</dict>
	<key>ButtonRemaps</key>
	<dict>
		<key>5</key>
		<dict>
			<key>single</key>
			<dict>
				<key>click</key>
				<array>
					<string>swipeEvent</string>
					<string>right</string>
				</array>
			</dict>
		</dict>
		<key>4</key>
		<dict>
			<key>single</key>
			<dict>
				<key>click</key>
				<array>
					<string>swipeEvent</string>
					<string>left</string>
				</array>
			</dict>
		</dict>
		<key>3</key>
		<dict>
			<key>single</key>
			<dict>
				<key>click</key>
				<array>
					<string>symbolicHotKey</string>
					<integer>32</integer>
				</array>
			</dict>
		</dict>
	</dict>
	<key>Scroll</key>
	<dict>
		<key>disableAll (unused)</key>
		<false/>
		<key>smooth</key>
		<true/>
		<key>direction</key>
		<integer>-1</integer>
		<key>smoothParameters</key>
		<dict>
			<key>pxPerStep</key>
			<integer>40</integer>
			<key>msPerStep</key>
			<integer>90</integer>
			<key>friction</key>
			<real>2.3</real>
			<key>frictionDepth</key>
			<integer>1</integer>
			<key>acceleration</key>
			<real>1.15</real>
			<key>onePixelScrollsLimit</key>
			<integer>2</integer>
		</dict>
		<key>roughParameters (unused)</key>
		<dict/>
		<key>modifierKeys</key>
		<dict>
			<key>horizontalScrollModifierKey</key>
			<string>shift</string>
			<key>magnificationScrollModifierKey</key>
			<string>command</string>
			<key>horizontalScrollModifierKeyEnabled</key>
			<true/>
			<key>magnificationScrollModifierKeyEnabled</key>
			<true/>
		</dict>
		<key>other</key>
		<dict>
			<key>fastScrollExponentialBase</key>
			<real>1.1</real>
			<key>fastScrollThreshold_inSwipes</key>
			<integer>2</integer>
			<key>scrollSwipeThreshold_inTicks</key>
			<integer>4</integer>
			<key>consecutiveScrollSwipeMaxIntervall</key>
			<real>0.5</real>
			<key>consecutiveScrollTickMaxIntervall</key>
			<real>0.13</real>
		</dict>
	</dict>
	<key>AppOverrides</key>
	<dict>
		<key>com.adobe.Reader</key>
		<dict>
			<key>Root</key>
			<dict>
				<key>Scroll</key>
				<dict>
					<key>smooth</key>
					<false/>
					<key>modifierKeys</key>
					<dict>
						<key>horizontalScrollModifierKeyEnabled</key>
						<false/>
						<key>magnificationScrollModifierKeyEnabled</key>
						<false/>
					</dict>
				</dict>
			</dict>
			<key>meta</key>
			<dict>
				<key>scrollOverridePanelTableViewOrderKey</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>com.adobe.Photoshop</key>
		<dict>
			<key>Root</key>
			<dict>
				<key>Scroll</key>
				<dict>
					<key>smooth</key>
					<false/>
					<key>modifierKeys</key>
					<dict>
						<key>horizontalScrollModifierKeyEnabled</key>
						<false/>
						<key>magnificationScrollModifierKeyEnabled</key>
						<false/>
					</dict>
				</dict>
			</dict>
			<key>meta</key>
			<dict>
				<key>scrollOverridePanelTableViewOrderKey</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>com.adobe.PhotoshopElements</key>
		<dict>
			<key>Root</key>
			<dict>
				<key>Scroll</key>
				<dict>
					<key>smooth</key>
					<false/>
					<key>modifierKeys</key>
					<dict>
						<key>horizontalScrollModifierKeyEnabled</key>
						<false/>
						<key>magnificationScrollModifierKeyEnabled</key>
						<false/>
					</dict>
				</dict>
			</dict>
			<key>meta</key>
			<dict>
				<key>scrollOverridePanelTableViewOrderKey</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>com.apple.Safariuuu</key>
		<dict>
			<key>Root</key>
			<dict>
				<key>Scroll</key>
				<dict>
					<key>smooth</key>
					<false/>
					<key>modifierKeys</key>
					<dict>
						<key>horizontalScrollModifierKey</key>
						<string>shift</string>
						<key>magnificationScrollModifierKey</key>
						<string>command</string>
						<key>horizontalScrollModifierKeyEnabled</key>
						<false/>
						<key>magnificationScrollModifierKeyEnabled</key>
						<false/>
					</dict>
				</dict>
			</dict>
			<key>meta</key>
			<dict>
				<key>scrollOverridePanelTableViewOrderKey</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>com.apple.Preview</key>
		<dict>
			<key>Root</key>
			<dict>
				<key>Scroll</key>
				<dict>
					<key>smooth</key>
					<false/>
					<key>modifierKeys</key>
					<dict>
						<key>horizontalScrollModifierKeyEnabled</key>
						<true/>
						<key>magnificationScrollModifierKeyEnabled</key>
						<true/>
					</dict>
				</dict>
			</dict>
			<key>meta</key>
			<dict>
				<key>scrollOverridePanelTableViewOrderKey</key>
				<integer>0</integer>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
