<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Other</key>
	<dict>
		<key>configVersion</key>
		<integer>2</integer>
		<key>checkForUpdates</key>
		<true/>
		<key>skippedBundleVersion</key>
		<integer>0</integer>
	</dict>
	<key>ButtonRemaps</key>
	<dict>
		<key>sideButtonsInverted</key>
		<false/>
		<key>5</key>
		<dict>
			<key>single</key>
			<dict>
				<key>click</key>
				<array>
					<string>symbolicHotKey</string>
					<integer>81</integer>
				</array>
			</dict>
		</dict>
		<key>4</key>
		<dict>
			<key>single</key>
			<dict>
				<key>click</key>
				<array>
					<string>symbolicHotKey</string>
					<integer>79</integer>
				</array>
			</dict>
		</dict>
		<key>3</key>
		<dict>
			<key>single</key>
			<dict>
				<key>click</key>
				<array>
					<string>symbolicHotKey</string>
					<integer>32</integer>
				</array>
			</dict>
		</dict>
	</dict>
	<key>ScrollSettings</key>
	<dict>
		<key>enabled</key>
		<true/>
		<key>values</key>
		<array>
			<integer>60</integer>
			<integer>130</integer>
			<real>1.5</real>
			<integer>-1</integer>
		</array>
	</dict>
	<key>AppOverrides</key>
	<dict>
		<key>com.adobe.</key>
		<dict>
			<key>ScrollSettings</key>
			<dict>
				<key>enabled</key>
				<false/>
			</dict>
		</dict>
		<key>com.apple.Preview</key>
		<dict>
			<key>ScrollSettings</key>
			<dict>
				<key>enabled</key>
				<false/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
