<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Scroll</key>
	<dict>
		<key>modifiers</key>
		<dict>
			<key>horizontal</key>
			<integer>131072</integer>
			<key>precise</key>
			<integer>524288</integer>
			<key>swift</key>
			<integer>262144</integer>
			<key>zoom</key>
			<integer>1048576</integer>
		</dict>
		<key>reverseDirection</key>
		<true/>
		<key>trackpadSimulation</key>
		<true/>
		<key>precise</key>
		<false/>
		<key>smooth</key>
		<string>high</string>
		<key>speed</key>
		<string>medium</string>
	</dict>
	<key>License</key>
	<dict>
		<key>configCache</key>
		<dict/>
		<key>isLicensedCache</key>
		<false/>
		<key>licenseReasonCache</key>
		<integer>1</integer>
	</dict>
	<key>General</key>
	<dict>
		<key>showMenuBarItem</key>
		<false/>
		<key>buttonKillSwitch</key>
		<false/>
		<key>scrollKillSwitch</key>
		<false/>
		<key>checkForPrereleases</key>
		<false/>
		<key>checkForUpdates</key>
		<true/>
		<key>lockPointerDuringDrag</key>
		<false/>
	</dict>
	<key>Pointer</key>
	<dict>
		<key>acceleration</key>
		<real>0.6875</real>
		<key>sensitivity</key>
		<integer>1</integer>
		<key>useSystemAcceleration</key>
		<false/>
	</dict>
	<key>Remaps</key>
	<array/>
	<key>State</key>
	<dict>
		<key>remapsAreInitialized</key>
		<false/>
		<key>launchesOfCurrentBundleVersion</key>
		<integer>0</integer>
		<key>lastLaunchedBundleVersion</key>
		<integer>0</integer>
		<key>launchesOverall</key>
		<string>0</string>
		<key>autosave_tabID</key>
		<string>general</string>
	</dict>
	<key>Constants</key>
	<dict>
		<key>configVersion</key>
		<integer>23</integer>
		<key>defaultRemaps</key>
		<dict>
			<key>threeButtons</key>
			<array>
				<dict>
					<key>effect</key>
					<dict>
						<key>type</key>
						<string>symbolicHotkey</string>
						<key>variant</key>
						<integer>70</integer>
					</dict>
					<key>modifiers</key>
					<dict/>
					<key>trigger</key>
					<dict>
						<key>button</key>
						<integer>3</integer>
						<key>duration</key>
						<string>click</string>
						<key>level</key>
						<integer>1</integer>
					</dict>
				</dict>
				<dict>
					<key>effect</key>
					<dict>
						<key>type</key>
						<string>symbolicHotkey</string>
						<key>variant</key>
						<integer>36</integer>
					</dict>
					<key>modifiers</key>
					<dict/>
					<key>trigger</key>
					<dict>
						<key>button</key>
						<integer>3</integer>
						<key>duration</key>
						<string>hold</string>
						<key>level</key>
						<integer>1</integer>
					</dict>
				</dict>
				<dict>
					<key>effect</key>
					<dict>
						<key>type</key>
						<string>symbolicHotkey</string>
						<key>variant</key>
						<integer>160</integer>
					</dict>
					<key>modifiers</key>
					<dict/>
					<key>trigger</key>
					<dict>
						<key>button</key>
						<integer>3</integer>
						<key>duration</key>
						<string>click</string>
						<key>level</key>
						<integer>2</integer>
					</dict>
				</dict>
				<dict>
					<key>effect</key>
					<dict>
						<key>modifiedDragType</key>
						<string>threeFingerSwipe</string>
					</dict>
					<key>modifiers</key>
					<dict>
						<key>buttonModifiers</key>
						<array>
							<dict>
								<key>button</key>
								<integer>3</integer>
								<key>level</key>
								<integer>1</integer>
							</dict>
						</array>
					</dict>
					<key>trigger</key>
					<string>dragTrigger</string>
				</dict>
			</array>
			<key>fiveButtons</key>
			<array>
				<dict>
					<key>effect</key>
					<dict>
						<key>type</key>
						<string>symbolicHotkey</string>
						<key>variant</key>
						<integer>70</integer>
					</dict>
					<key>modifiers</key>
					<dict/>
					<key>trigger</key>
					<dict>
						<key>button</key>
						<integer>4</integer>
						<key>duration</key>
						<string>click</string>
						<key>level</key>
						<integer>1</integer>
					</dict>
				</dict>
				<dict>
					<key>effect</key>
					<dict>
						<key>modifiedScrollEffectModification</key>
						<string>fourFingerPinch</string>
					</dict>
					<key>modifiers</key>
					<dict>
						<key>buttonModifiers</key>
						<array>
							<dict>
								<key>button</key>
								<integer>4</integer>
								<key>level</key>
								<integer>1</integer>
							</dict>
						</array>
					</dict>
					<key>trigger</key>
					<string>scrollTrigger</string>
				</dict>
				<dict>
					<key>effect</key>
					<dict>
						<key>modifiedDragType</key>
						<string>threeFingerSwipe</string>
					</dict>
					<key>modifiers</key>
					<dict>
						<key>buttonModifiers</key>
						<array>
							<dict>
								<key>button</key>
								<integer>4</integer>
								<key>level</key>
								<integer>1</integer>
							</dict>
						</array>
					</dict>
					<key>trigger</key>
					<string>dragTrigger</string>
				</dict>
				<dict>
					<key>effect</key>
					<dict>
						<key>type</key>
						<string>smartZoom</string>
					</dict>
					<key>modifiers</key>
					<dict/>
					<key>trigger</key>
					<dict>
						<key>button</key>
						<integer>5</integer>
						<key>duration</key>
						<string>click</string>
						<key>level</key>
						<integer>1</integer>
					</dict>
				</dict>
				<dict>
					<key>effect</key>
					<dict>
						<key>modifiedScrollEffectModification</key>
						<string>zoom</string>
					</dict>
					<key>modifiers</key>
					<dict>
						<key>buttonModifiers</key>
						<array>
							<dict>
								<key>button</key>
								<integer>5</integer>
								<key>level</key>
								<integer>1</integer>
							</dict>
						</array>
					</dict>
					<key>trigger</key>
					<string>scrollTrigger</string>
				</dict>
				<dict>
					<key>effect</key>
					<dict>
						<key>modifiedDragType</key>
						<string>twoFingerSwipe</string>
					</dict>
					<key>modifiers</key>
					<dict>
						<key>buttonModifiers</key>
						<array>
							<dict>
								<key>button</key>
								<integer>5</integer>
								<key>level</key>
								<integer>1</integer>
							</dict>
						</array>
					</dict>
					<key>trigger</key>
					<string>dragTrigger</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
